@import url('https://fonts.googleapis.com/css2?family=Metal&family=Metal+Mania&family=Metamorphous&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: 'metamorphous';
}